{% extends "layout/basic.html" %}
{% load static %}

{% block title %}OligoShell Calculator{% endblock %}

{% block content %}


<form method="POST" action=".">
{% csrf_token %}

<div class="row">
    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="col-md-4 mb-0 ms-0"> Enter Oligonucleotide Sequence:</h5>
          <h5 class="col-md-4 mb-0 ms-0 text-center"> Parameter sets: </h5>
        </div>
        <div class="card-body">
            <div class="row mb-1">
                <div class="col-md-5">
                    <span>
                        Input style:&nbsp;
                        <svg data-bs-toggle="tooltip"
                             data-bs-offset="0,5"
                             data-bs-placement="right"
                             data-bs-html="true"
                             title="<span>
                                 <p>
                                     Sequences are 5'&rarr;3' left to right. You may choose one of two input styles: 'DNA' and 'Therapeutic'.
                                     Use ' * ' as a separator to designate phosphorothioate linkage.
                                 </p>
                                 <ul>
                                     <li>
                                         <strong>DNA input style</strong>
                                         <p>
                                             Four deoxynucleotides (A, C, G, T) as well as eleven degenerate deoxynucleotides (W, S, M, K, R, Y, B, D, H, V, N) can be used with a single letter code. All other nucleotides with different sugar moieties as well as modifications have several letter codes and should be surrounded by square brackets, e.g. [FAM] or [BHQ1].
                                         </p>
                                     </li>
                                     <li>
                                         <strong>Therapeutic input style</strong>
                                         <p>
                                             Every nucleotide, degenerate nucleotide or modification has a specific designation and should be separated with 'space' from the next nucleotide or phosphate entity.
                                         </p>
                                     </li>
                                 </ul>
                                    </span>"
                             xmlns="http://www.w3.org/2000/svg"
                             width="22"
                             height="22"
                             viewBox="0 0 24 24">
                            <path fill="currentColor" d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"/>
                        </svg>&nbsp;
                    </span>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="id_btnradio_0" value="dna" {% if form.btnradio.value == "dna" %}checked{% endif %} />
                        <label class="btn btn-outline-primary" for="id_btnradio_0">DNA</label>
                        <input type="radio" class="btn-check" name="btnradio" id="id_btnradio_1" value="mix" {% if form.btnradio.value == "mix" %}checked{% endif %} />
                        <label class="btn btn-outline-primary" for="id_btnradio_1">Therapeutic</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <a href="{% url 'oligocalc:modifications' %}" target="_blank" type="button" class="btn btn-sm btn-outline-dark mb-1 ms-0">
                        Available nucleotides and modifications
                    </a>
                </div>
                <div class="col-md-2">
                    {{form.param_set}}
                </div>
            </div>

                <div class="row mb-1 mt-1">
                    <div class="col-md-8">
                        {{form.sequence}}
                    </div>
                    <div class="col-md-4">
                        <table>
                            <tr>
                                <td style="text-align: right;" width="50%">Target type&nbsp;</td>
                                <td width="25%">{{form.target}}</td>
                                <td width="25%"></td>
                            </tr>
                            <tr>
                                <td style="text-align: right;" width="50%">Oligo Conc&nbsp;</td>
                                <td width="25%">{{form.dna_conc}}</td>
                                <td width="25%">&nbsp;&mu;M</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">Na<sup>+</sup> Conc&nbsp;</td>
                                <td>{{form.mv_conc}}</td>
                                <td>&nbsp;mM</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">Mg<sup>2+</sup> Conc&nbsp;</td>
                                <td>{{form.dv_conc}}</td>
                                <td>&nbsp;mM</td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">dNTPs Conc&nbsp;</td>
                                <td>{{form.dntp_conc}}</td>
                                <td>&nbsp;mM</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-8">
                    {% if form.errors %}
                        {% for field_error, error in form.errors.items %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>

            <button type="submit" class="ms-0 mt-0 btn btn-primary submit">Calculate!</button>

        </div>
      </div>
    </div>
</div>

{% if sequence %}

<div class="row">
    <div class="col-xl">
      <div class="nav-align-top mb-4">
        <ul class="nav nav-pills mb-3" role="tablist">
          <li class="nav-item">
            <button
              type="button"
              class="nav-link active"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-top-properties"
              aria-controls="navs-pills-top-properties"
              aria-selected="true"
            >
              Sequence properties
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-top-ms"
              aria-controls="navs-pills-top-ms"
              aria-selected="false"
            >
              Molecular Weight and ESI series
            </button>
          </li>
          <li class="nav-item">
            <button
              type="button"
              class="nav-link"
              role="tab"
              data-bs-toggle="tab"
              data-bs-target="#navs-pills-top-ms2"
              aria-controls="navs-pills-top-ms2"
              aria-selected="false"
            >
              MS/MS Fragments
            </button>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="navs-pills-top-properties" role="tabpanel">
             <div class="row">
                <!--Sequence properties                 -->
                <div class="col-md-9 mb-3">
                  <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-sm table-borderless table-hover" style="table-layout: fixed; width: 100%">
                                <tr>
                                    <td width="30%"><strong>Sequence 5'&rarr;3':</strong></td>
                                    <td style="word-wrap:break-word"> {{ sequence_dna }} </td>
                                </tr>
                                <tr>
                                    <td><strong>Reverse Complement 5'&rarr;3':</strong></td>
                                    <td style="word-wrap:break-word"> {{ sequence_dna_rev_compl }} </td>
                                </tr>
                                <tr>
                                    <td><strong>Sequence Length:</strong></td>
                                    <td>{{ length }} <span class="text-muted">nt</span></td>
                                </tr>
                                <tr>
                                    <td><strong>GC content:</strong></td>
                                    <td>
                                        {% if gc_content >= 0 %}
                                            {{ gc_content }} <span class="text-muted">%</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Melt Temp:</strong></td>
                                    <td>
                                        {% if melting_t > 0 %}
                                            {{ melting_t }} <span class="text-muted">&deg;C</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Molecular Formula:</strong></td>
                                    <td><span class="formula">{{ brutto_formula }}</span></td>
                                </tr>
                                <tr>
                                    <td><strong>Monoisotopic Mass:</strong></td>
                                    <td>
                                        {% if mass_monoisotopic %}
                                            {{ mass_monoisotopic }} <span class="text-muted">Da</span>
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Molecular Weight:</strong></td>
                                    <td>
                                        {{mass_average}} <span class="text-muted">Da</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>Extinction Coefficient, &epsilon;<sub>260</sub>: </strong></td>
                                    <td>
                                        {{ epsilon260 }} <span class="text-muted">L&middot;mol<sup>-1</sup>&middot;cm<sup>-1</sup></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>nmol/OD<sub>260</sub>: </strong></td>
                                    <td>
                                        {{ nmol_OD260 }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><strong>&micro;g/OD<sub>260</sub>: </strong></td>
                                    <td>
                                        {{ ug_OD260 }}
                                    </td>
                                </tr>
                            </table>
                            {%comment%}
                            <table class="table table-sm table-borderless table-hover">
                                <tr>
                                    <td width="9%"> {{ form.absorbance260 }} </td>
                                    <td width="15%"> OD260 dissolved in </td>
                                    <td width="9%"> {{ form.volume }} </td>
                                    <td> mL </td>
                                    <td> contains </td>
                                    <td> {{ quantity }} nmol</td>
                                    <td> oligo with conc </td>
                                    <td> {{ concentration_molar }} </td>
                                </tr>
                            </table>
                            {%endcomment%}
                        </div>

            {%comment%}
            Quantity of degenerate sequences
            {%endcomment%}

                    </div>
                  </div>
                </div>
                <!--End of Sequence properties     -->

                <!--Quantification  -->
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-body">
                        <div class="mb-2"><strong>Quantification</strong></div>
                        <label for="{{ form.absorbance260.id_for_label }}">
                            <small>OD<sub>260</sub> (10 mm) </small>
                        </label>
                        <div>{{ form.absorbance260 }}</div>
                        <label class="mt-2" for="{{ form.volume.id_for_label }}">
                            <small>Volume, mL</small>
                        </label>
                        <div>{{ form.volume }}</div>

                        <div class="mt-3 mb-2"><strong>Quantity:</strong></div>
                        <div>
                            {% if quantity %}
                                {{ quantity }} <span class="text-muted">nmol</span>
                            {% else %}
                                -
                            {% endif %}
                        </div>
                        <div class="mt-3 mb-2"><strong>Concentration:</strong></div>
                        <div>
                            {% if concentration_molar %}
                                <div class="mb-2">
                                    {{ concentration_molar }} <span class="text-muted">&mu;M (pmol/&mu;L)</span>
                                </div>
                                <div>
                                    {{ concentration_mass }} <span class="text-muted">&mu;g/mL</span>
                                </div>
                            {% else %}
                                    -
                                {% endif %}
                        </div>

                        <button type="submit" class="mt-3 btn btn-sm btn-primary submit"> Quantify! </button>
                    </div>
                  </div>
                </div>
                <!--End of quantification-->

             </div>
          </div>

          <div class="tab-pane fade" id="navs-pills-top-ms" role="tabpanel">
              <div class="row mb-4">
                  <div class="col-md-6">
                     <div class="card">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-sm table-hover">
                                    <thead>
                                         <tr>
                                            <th><span class="fw-semibold">Charge State</span></th>
                                            <th><span class="fw-semibold">Monoisotopic MW </span></th>
                                            <th><span class="fw-semibold">Average MW </span></th>
                                         </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td><strong>
                                                {% if mass_monoisotopic %}
                                                    {{ mass_monoisotopic }}
                                                {% endif %}
                                            </strong></td>
                                            <td><strong>
                                                {% if mass_average %}
                                                    {{mass_average}}
                                                {% endif %}
                                            </strong></td>
                                        </tr>

                                        {% for z, esi_avg_off, esi_mono_off in esi_series %}
                                            <tr>
                                                <td><strong>-{{z}}</strong></td>
                                                <td>
                                                    {% if esi_mono_off %}
                                                        {{esi_mono_off}}
                                                    {% endif %}
                                                </td>
                                                <td>{{esi_avg_off}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>
                  </div>
              </div>
          </div>

          <div class="tab-pane fade" id="navs-pills-top-ms2" role="tabpanel">
             <div class="row">
                <div class="col-xl">
                  <div class="nav-align-top mb-4">
                    <ul class="nav nav-tabs" role="tablist">

                          <li class="nav-item">
                            <button
                              type="button"
                              class="nav-link active"
                              role="tab"
                              data-bs-toggle="tab"
                              data-bs-target="#navs-justified-home"
                              aria-controls="navs-justified-home"
                              aria-selected="true"
                            >
                              Fragmentation Scheme
                            </button>
                          </li>

                    {% for i in charge %}
                        {% if i <= 10 %}

                          <li class="nav-item">
                            <button
                              type="button"
                              class="nav-link"
                              role="tab"
                              data-bs-toggle="tab"
                              data-bs-target="#navs-top-{{i}}"
                              aria-controls="navs-top-{{i}}"
                              aria-selected="false"
                            >
                              -{{i}}
                            </button>
                          </li>
                        {% endif %}
                    {% endfor %}

                    </ul>

                      <div class="tab-content" style="background: #fff;">
                        <div class="tab-pane fade show active" id="navs-justified-home" role="tabpanel">
                            <p>
                              <img src="{% static 'ms_ms_fragmentation.png' %}" >
                            </p>
                        </div>
                        {% for charge_array in mass_fragments_array %}
                            {% if forloop.counter <= 10 %}
                                <div class="tab-pane fade" id="navs-top-{{forloop.counter}}" role="tabpanel">
                                    <p>
                                        <div class="table-responsive">
                                            <table class="table table-sm table-hover">
                                                <thead>
                                                     <tr>
                                                        <th><span class="fw-semibold" style="text-transform: none;">d</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">c</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">b</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">a</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">a-B</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">5' Index</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">Sequence</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">3' Index</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">w</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">x</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">y</span></th>
                                                        <th><span class="fw-semibold" style="text-transform: none;">z</span></th>
                                                     </tr>
                                                </thead>

                                                <tbody>
                                                {% for d_esi, c_esi, b_esi, a_esi, a_B_esi, seq, w_esi, x_esi, y_esi, z_esi in charge_array %}
                                                    <tr>
                                                        <td>
                                                            <small>
                                                                {% if d_esi >= 0 %}
                                                                    {{d_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if c_esi >= 0 %}
                                                                    {{c_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if b_esi >= 0 %}
                                                                    {{b_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if a_esi >= 0 %}
                                                                    {{a_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if a_B_esi >= 0 %}
                                                                    {{a_B_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>{{forloop.counter}}</td>
                                                        <td><strong>{{seq}}</strong></td>
                                                        <td>{{forloop.revcounter}}</td>
                                                        <td>
                                                            <small>
                                                                {% if w_esi >= 0 %}
                                                                    {{w_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if x_esi >= 0 %}
                                                                    {{x_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if y_esi >= 0 %}
                                                                    {{y_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                        <td>
                                                            <small>
                                                                {% if z_esi >= 0 %}
                                                                    {{z_esi}}
                                                                {% else %}
                                                                    -
                                                                {% endif %}
                                                            </small>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </p>
                                </div>
                            {% endif %}
                        {% endfor %}
                      </div>

                  </div>
                </div>
              </div>
          </div>

        </div>
      </div>
    </div>
</div>

{% endif %}

</form>

{% endblock %}