{% extends "layout/basic.html" %}
{% load static %}

{% block title %}Modifications available{% endblock %}

{% block content %}

<h4 class="fw-bold py-3 mb-3 text-center">Available Nucleotide Alphabet</h4>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-2">

            <h5 class="card-header text-center">Deoxynucleotides</h5>
            <div class="table-responsive text-nowrap">
              <table class="table table-hover table-sm">

                <thead>
                  <tr>
                    <th><strong>Description</strong></th>
                    <th><strong>'DNA' Code</strong></th>
                    <th><strong>'Therapeutic' Code</strong></th>
                  </tr>
                </thead>

                <tbody class="table-border-bottom-0">
                    <tr>
                        <td>Deoxy-Adenosine</td>
                        <td class="fw-bold">A</td>
                        <td class="fw-bold">dA</td>
                    </tr>
                    <tr>
                        <td>Deoxy-Cytidine</td>
                        <td class="fw-bold">C</td>
                        <td class="fw-bold">dC</td>
                    </tr>
                    <tr>
                        <td>Deoxy-Guanosine</td>
                        <td class="fw-bold">G</td>
                        <td class="fw-bold">dG</td>
                    </tr>
                    <tr>
                        <td>Deoxy-Thimidine</td>
                        <td class="fw-bold">T</td>
                        <td class="fw-bold">dT</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/T</td>
                        <td class="fw-bold">W</td>
                        <td class="fw-bold">dW</td>
                    </tr>
                    <tr>
                        <td>Deoxy-C/G</td>
                        <td class="fw-bold">S</td>
                        <td class="fw-bold">dS</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/C</td>
                        <td class="fw-bold">M</td>
                        <td class="fw-bold">dM</td>
                    </tr>
                    <tr>
                        <td>Deoxy-G/T</td>
                        <td class="fw-bold">K</td>
                        <td class="fw-bold">dK</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/G</td>
                        <td class="fw-bold">R</td>
                        <td class="fw-bold">dR</td>
                    </tr>
                    <tr>
                        <td>Deoxy-C/T</td>
                        <td class="fw-bold">Y</td>
                        <td class="fw-bold">dY</td>
                    </tr>
                    <tr>
                        <td>Deoxy-C/G/T</td>
                        <td class="fw-bold">B</td>
                        <td class="fw-bold">dB</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/G/T</td>
                        <td class="fw-bold">D</td>
                        <td class="fw-bold">dD</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/C/T</td>
                        <td class="fw-bold">H</td>
                        <td class="fw-bold">dH</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/C/G</td>
                        <td class="fw-bold">V</td>
                        <td class="fw-bold">dV</td>
                    </tr>
                    <tr>
                        <td>Deoxy-A/C/G/T</td>
                        <td class="fw-bold">N</td>
                        <td class="fw-bold">dN</td>
                    </tr>
                    <tr>
                        <td>5-Me-Deoxy-Cytidine</td>
                        <td class="fw-bold">[dCm]</td>
                        <td class="fw-bold">dCm</td>
                    </tr>
                    <tr>
                        <td>Deoxy-Uridine</td>
                        <td class="fw-bold">[dU]</td>
                        <td class="fw-bold">dU</td>
                    </tr>
                </tbody>
              </table>
            </div>

            <h5 class="card-header text-center mt-4">2'-MOE Ribonucleotides</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>2'-MOE-Adenosine</td>
                            <td class="fw-bold">[moeA]</td>
                            <td class="fw-bold">moeA</td>
                        </tr>
                        <tr>
                            <td>2'-MOE-5-Me-Cytidine</td>
                            <td class="fw-bold">[moeCm]</td>
                            <td class="fw-bold">moeCm</td>
                        </tr>
                        <tr>
                            <td>2'-MOE-Guanosine</td>
                            <td class="fw-bold">[moeG]</td>
                            <td class="fw-bold">moeG</td>
                        </tr>
                        <tr>
                            <td>2'-MOE-Thymidine</td>
                            <td class="fw-bold">[moeT]</td>
                            <td class="fw-bold">moeT</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-2">

            <h5 class="card-header text-center">Ribonucleotides</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>Ribo-Adenosine</td>
                            <td class="fw-bold">[rA]</td>
                            <td class="fw-bold">rA</td>
                        </tr>
                        <tr>
                            <td>Ribo-Cytidine</td>
                            <td class="fw-bold">[rC]</td>
                            <td class="fw-bold">rC</td>
                        </tr>
                        <tr>
                            <td>Ribo-Guanosine</td>
                            <td class="fw-bold">[rG]</td>
                            <td class="fw-bold">rG</td>
                        </tr>
                        <tr>
                            <td>Ribo-Uridine</td>
                            <td class="fw-bold">[rU]</td>
                            <td class="fw-bold">rU</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h5 class="card-header text-center mt-4">2'-Fluoro Deoxynucleotides</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>2'-Fluoro-Adenosine</td>
                            <td class="fw-bold">[fA]</td>
                            <td class="fw-bold">fA</td>
                        </tr>
                        <tr>
                            <td>2'-Fluoro-Cytidine</td>
                            <td class="fw-bold">[fC]</td>
                            <td class="fw-bold">fC</td>
                        </tr>
                        <tr>
                            <td>2'-Fluoro-Guanosine</td>
                            <td class="fw-bold">[fG]</td>
                            <td class="fw-bold">fG</td>
                        </tr>
                        <tr>
                            <td>2'-Fluoro-Uridine</td>
                            <td class="fw-bold">[fU]</td>
                            <td class="fw-bold">fU</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h5 class="card-header text-center mt-4">2'-OMe Ribonucleotides</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>2'-OMe-Adenosine</td>
                            <td class="fw-bold">[mA]</td>
                            <td class="fw-bold">mA</td>
                        </tr>
                        <tr>
                            <td>2'-OMe-Cytidine</td>
                            <td class="fw-bold">[mC]</td>
                            <td class="fw-bold">mC</td>
                        </tr>
                        <tr>
                            <td>2'-OMe-Guanosine</td>
                            <td class="fw-bold">[mG]</td>
                            <td class="fw-bold">mG</td>
                        </tr>
                        <tr>
                            <td>2'-OMe-Uridine</td>
                            <td class="fw-bold">[mU]</td>
                            <td class="fw-bold">mU</td>
                        </tr>

                    </tbody>
                </table>
            </div>

            <h5 class="card-header text-center mt-4">LNA Nucleotides</h5>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td>LNA Adenosine</td>
                            <td class="fw-bold">[+A]</td>
                            <td class="fw-bold">+A</td>
                        </tr>
                        <tr>
                            <td>LNA 5-Me-Cytidine</td>
                            <td class="fw-bold">[+Cm]</td>
                            <td class="fw-bold">+Cm</td>
                        </tr>
                        <tr>
                            <td>LNA Guanosine</td>
                            <td class="fw-bold">[+G]</td>
                            <td class="fw-bold">+G</td>
                        </tr>
                        <tr>
                            <td>LNA Thymidine</td>
                            <td class="fw-bold">[+T]</td>
                            <td class="fw-bold">+T</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<h4 class="fw-bold py-3 mb-3 mt-3 text-center">Available Modifications</h4>
<div class="row">
    <div class="col-md-6">
        <div class="card mb-2">

            <div class="table-responsive text-nowrap">
              <table class="table table-hover table-sm">

                <thead>
                  <tr>
                    <th><strong>Description</strong></th>
                    <th><strong>'DNA' Code</strong></th>
                    <th><strong>'Therapeutic' Code</strong></th>
                  </tr>
                </thead>

                <tbody class="table-border-bottom-0">
                    <tr>
                        <td class="text-wrap">Fluorescein</td>
                        <td class="fw-bold">[FAM]</td>
                        <td class="fw-bold">FAM</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Tetrachlorofluorescein</td>
                        <td class="fw-bold">[TET]</td>
                        <td class="fw-bold">TET</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Hexachlorofluorescein</td>
                        <td class="fw-bold">[HEX]</td>
                        <td class="fw-bold">HEX</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Dichloro-dimethoxyfluorescein</td>
                        <td class="fw-bold">[JOE]</td>
                        <td class="fw-bold">JOE</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Phenyl-trichlorofluorescein</td>
                        <td class="fw-bold">[VIC]</td>
                        <td class="fw-bold">VIC</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Tetramethylrhodamine, ACH linker</td>
                        <td class="fw-bold">[TMR-ACH]</td>
                        <td class="fw-bold">TMR-ACH</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Rhodamine 6G</td>
                        <td class="fw-bold">[R6G]</td>
                        <td class="fw-bold">R6G</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Rhodamine 6G, ACH linker</td>
                        <td class="fw-bold">[R6G-ACH]</td>
                        <td class="fw-bold">R6G-ACH</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Rhodamine X, via 'click'</td>
                        <td class="fw-bold">[ROX-CLK]</td>
                        <td class="fw-bold">ROX-CLK</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Cyanine5, via 'click'</td>
                        <td class="fw-bold">[CY5-CLK]</td>
                        <td class="fw-bold">CY5-CLK</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Black Hole Quencher 1</td>
                        <td class="fw-bold">[BHQ1]</td>
                        <td class="fw-bold">BHQ1</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Black Hole Quencher 2</td>
                        <td class="fw-bold">[BHQ2]</td>
                        <td class="fw-bold">BHQ2</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Eclipse Quencher</td>
                        <td class="fw-bold">[ECLIPSE]</td>
                        <td class="fw-bold">ECLIPSE</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Minor Groove Binder Eclipse Quencher</td>
                        <td class="fw-bold">[MGB-ECLIPSE]</td>
                        <td class="fw-bold">MGB-ECLIPSE</td>
                    </tr>
                    <tr>
                        <td class="text-wrap">Minor Groove Binder</td>
                        <td class="fw-bold">[MGB]</td>
                        <td class="fw-bold">MGB</td>
                    </tr>
                </tbody>
              </table>
            </div>

        </div>
    </div>

    <div class="col-md-6">
        <div class="card mb-2">

            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-sm">

                    <thead>
                      <tr>
                        <th><strong>Description</strong></th>
                        <th><strong>'DNA' Code</strong></th>
                        <th><strong>'Therapeutic' Code</strong></th>
                      </tr>
                    </thead>

                    <tbody class="table-border-bottom-0">
                        <tr>
                            <td class="text-wrap">Alkyne, ACH linker</td>
                            <td class="fw-bold">[ALKYNE]</td>
                            <td class="fw-bold">ALKYNE</td>
                        </tr>
                        <tr>
                            <td class="text-wrap">Cholesterol, prolinol linker</td>
                            <td class="fw-bold">[CHOL-PRO]</td>
                            <td class="fw-bold">CHOL-PRO</td>
                        </tr>
                        <tr>
                            <td class="text-wrap">Monomeric GalNAc, prolinol linker</td>
                            <td class="fw-bold">[GALNAC-PRO]</td>
                            <td class="fw-bold">GALNAC-PRO</td>
                        </tr>
                        <tr>
                            <td class="text-wrap">Trimeric GalNAc, prolinol linker (Alnylam)</td>
                            <td class="fw-bold">[GALNAC3-ALN]</td>
                            <td class="fw-bold">GALNAC3-ALN</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


{% endblock %}