{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% load widget_tweaks %}
{% block head_title %}Change Password{% endblock head_title %}
{% block content %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <!-- Card -->
    <div class="card">
      <div class="card-body">
        {% element h1 %}
            {% trans "Change Password" %}
        {% endelement %}


          {% url 'account_change_password' as action_url %}
            <form method="post" action="{{ action_url }}">
              {% csrf_token %}
              {{ redirect_field }}

              <!-- Example loop over each field -->
              {% for field in form %}
                <div class="row mb-2">
                  <label for="{{ field.id_for_label }}" class="form-label col-sm-4 mt-2">
                    {{ field.label }}
                    {% if field.field.required %}<span class="text-danger">*</span>{% endif %}
                  </label>

                  <div class="col-sm-8">
                      <div class="form-password-toggle">
                        <div class="input-group input-group-merge">
                          {{ field|add_class:"form-control" }}
                          <!-- Toggling icon (like in your signup) -->
                          <span class="input-group-text cursor-pointer" id="signin-password"><i class="bx bx-hide"></i></span>
                        </div>
                      </div>
                      {% if field.help_text %}
                          <div class="text-muted mt-1 small">{{ field.help_text }}</div>
                      {% endif %}
                      {% if field.errors %}
                        {% for error in field.errors %}
                          <div class="text-danger small mt-1">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                      {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                          <div class="text-danger small mt-1">{{ error }}</div>
                        {% endfor %}
                      {% endif %}
                  </div>
                </div>
              {% endfor %}

              <!-- Submit button -->
              <div class="d-flex align-items-center mt-3">
                  <button type="submit" class="btn btn-primary me-3">Change Password</button>
                  <!-- Link to Forgot Password -->
                    <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
              </div>
</form>


      </div><!-- /card-body -->
    </div><!-- /card -->
  </div><!-- /col-md-6 -->
</div><!-- /row -->
{% endblock content %}
